* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #181818;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
}

.main-content {
    background-color: grey;
    border-radius: 5px;
    width: 50vw;
    height: 70vh;
    max-width: 50%;
    max-height: 70%;
}

.make-move {
    height: 1.5rem;
    width: 10vw;
    margin-bottom: .5rem;
    border-radius: 30px;
    border: 1px solid black;
    text-align: center;
}

.start-text {
    text-align: center;
}
.mm-field:focus {
    border-style: none;
}




/* REUSABLE CLASSES */
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.align-center { align-items: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.padded { padding: 1rem;}